<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>iTrawell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}" />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" type="image/png" href="../static/img/icon.png" th:href="@{/img/icon.png}" />

    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        
        .uploadLabel {
            width: 50%;
            color: grey;
            border: 1px solid #ccc;
            display: block;
            padding: 8px 6px;
        }
        
        .upload {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script> 
    <![endif]-->
</head>
<body class="w3-light-grey">
    <ul class="w3-navbar w3-black">
        <li><a href="home.html" th:href="@{/}" class="w3-hover-none w3-hover-text-grey w3-padding-large"><i class="fa fa-home w3-large"></i></a></li>
        <li><a href="new-post.html" th:href="@{/post/new}" class="w3-hover-none w3-hover-text-grey w3-padding-large">Додати подорож</a></li>
        <li><a href="#" th:href="@{/}" class="w3-hover-none w3-hover-text-grey w3-padding-large"><i class="fa fa-search w3-large"></i> Пошук</a></li>
        <li class="w3-right"><a href="login.html" th:href="@{/login}" class="w3-hover-none w3-hover-text-grey w3-padding-large"><i class="fa fa-sign-in w3-large"></i> Увійти</a></li>
        <li class="w3-right"><a href="login.html" th:href="@{/logout}" class="w3-hover-none w3-hover-text-grey w3-padding-large"><i class="fa fa-sign-out w3-large"></i> Вийти</a></li>
    </ul>

    <!-- w3-content defines a container for fixed size centered content,
    and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1400px">

        <!-- Header -->
        <div class="w3-container w3-center w3-padding-32">
            <h1><b>iTraWell</b></h1>
            <p>Вітаємо у блозі <span class="w3-tag">Юлії Полєтаєвої</span></p>
        </div>

        <!-- Grid -->
        <div class="w3-row">

             <!-- New blog entry -->
             <div class="w3-col l8 s12">        
                <div class="w3-card-4 w3-margin w3-white">
                    <div class="w3-container w3-padding-16">
                        <form th:action="@{|/post/${post.id}/edit|}" method="POST" enctype="multipart/form-data" id="editForm">
                            <div th:if="${post.image}" class="w3-container w3-padding-0">
                                <img th:src="@{|/image/${post.image.id}|}" src="../static/img/img_stockholm.jpg" alt="Stockholm" style="width:100%" />
                                <input type="checkbox" id="deleteImage" name="deleteImage" class="w3-check"/>
                                <label class="w3-validate">Видалити фото</label>
                            </div>
                            <div class="w3-row w3-container w3-padding-0">
                                <div class="w3-twothird">
                                    <p>
                                    <label><b>Заголовок:</b></label>
                                    <input type="text" name="title" th:value="${post.title}" class="w3-input w3-border w3-animate-input w3-hover-light-grey" style="width:50%" placeholder="One upon a time..." required="required" />
                                    </p>
                                    <p>
                                    <label id="mainPhotoLabel"><b>Головне фото:</b></label>
                                    <input id="upload" type="file" name="image" class="upload w3-input w3-border" />
                                    <label id="uploadLabel" for="upload" class="uploadLabel enabled unselectable w3-btn w3-border w3-white w3-center w3-hover-black" >&raquo; К л і к &laquo;</label>
                                    </p>
                                    <p>
                                    <label><b>Підпис до фото:</b></label>
                                    <input type="text" name="label" class="w3-input w3-border w3-animate-input w3-hover-light-grey" style="width:50%" placeholder="На фото, а бімба!" />
                                    </p>
                                </div>
                                <div class="w3-third">
                                    <p>
                                    <label><b>Країна:</b></label>
                                    <input type="text" name="country" th:value="${post.country}" class="w3-input w3-border w3-animate-input w3-hover-light-grey" style="width:50%" placeholder="USA" />
                                    </p>
                                    <p>
                                    <label><b>Регіон:</b></label>
                                    <input type="text" name="region" th:value="${post.region}" class="w3-input w3-border w3-animate-input w3-hover-light-grey" style="width:50%" placeholder="East Coast" />
                                    </p>
                                    <p>
                                    <label><b>Місто:</b></label>
                                    <input type="text" name="city" th:value="${post.city} ?: _" class="w3-input w3-border w3-animate-input w3-hover-light-grey" style="width:50%" placeholder="New York" />
                                    </p>
                                </div>
                            </div>
                            
                            <div class="w3-row w3-section">
                                <div>
                                    <label><b>Опис:</b></label>
                                    <textarea th:text="${post.content}" name="content" class="w3-input w3-border w3-hover-light-grey" rows="8" maxlength="4000" wrap="hard" placeholder="Розкажи про подорож і враження... Не більше 20'000 символів." required="required"></textarea>
                                </div>
                            </div>
                        </form>
                        <div class="w3-row w3-padding-0">
                            <div class="w3-container w3-half w3-padding-0">
                                <button type="submit" class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black" form="editForm"><b>ЗБЕРЕГТИ ЗМІНИ</b></button>
                            </div>
                            <div class="w3-container w3-half w3-padding-0">
                                <form th:action="@{|/post/${post.id}/delete|}" method="POST">
                                    <a href="edit-post.html" th:href="@{|/post/${post.id}/delete|}" class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-red w3-hover-red w3-right" ><b>ВИДАЛИТИ ЗАПИС</b></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
           </div>

            <div class="w3-col l4 w3-hide-medium w3-hide-small">
            <!-- Labels / tags -->
                <div class="w3-card-2 w3-margin">
                <div class="w3-container w3-padding">
                    <h4>Теги</h4>
                </div>
                    <div class="w3-container w3-white">
                    <p>
                        <span class="w3-tag w3-black w3-margin-bottom">Travel</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
                    </p>
                    </div>
                </div>
            </div>

        <!-- END GRID -->
        </div><br />

    <!-- END w3-content -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
        <button class="w3-btn w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
        <button class="w3-btn w3-padding-large w3-margin-bottom">Next »</button>
        <p class="w3-center">Yulia Poletaeva &copy; 2017</p>
    </footer>
    <script>
        var inputs = document.querySelectorAll('.upload');
        
        Array.prototype.forEach.call(inputs, function(input) {
            var label = input.nextElementSibling;
            var labelVal = label.innerHTML;

            input.addEventListener('change', function(e) {
                var fileName = '';
                fileName = e.target.value.split('\\').pop();

                if (fileName)
                    label.innerHTML = fileName;
                else
                    label.innerHTML = labelVal;
            });
        });
        
        var upload = document.getElementById("upload");
        var uploadLabel = document.getElementById("uploadLabel");
        var mainPhotoLabel = document.getElementById("mainPhotoLabel");
        
        document.getElementById("deleteImage").addEventListener('change', function(){
            upload.disabled = !upload.disabled;
            if (upload.disabled) {
                uploadLabel.className = "w3-text-grey uploadLabel disabled unselectable w3-border w3-white w3-center"
                mainPhotoLabel.className = "w3-text-grey disabled";
            } else {
                uploadLabel.className = "w3-text-black uploadLabel enabled unselectable w3-btn w3-border w3-white w3-center w3-hover-black";
                mainPhotoLabel.className = "w3-text-black enabled";
            }
        });
    </script>
</body>
</html>
