<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>iTrawell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" type="image/png" href="../static/img/icon.png" th:href="@{/img/icon.png}" />

    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script> 
    <![endif]-->
</head>
<body class="w3-light-grey">
    <ul class="w3-navbar w3-black">
        <li><a href="home.html" th:href="@{/}" class="w3-hover-none w3-hover-text-grey w3-padding-large"><i class="fa fa-home w3-large"></i></a></li>
        <li><a href="new-post.html" th:href="@{/post/new}" class="w3-hover-none w3-hover-text-grey w3-padding-large">Додати подорож</a></li>
        <li><a href="#" th:href="@{/}" class="w3-hover-none w3-hover-text-grey w3-padding-large"><i class="fa fa-search w3-large"></i> Пошук</a></li>
        <li class="w3-right"><a href="login.html" th:href="@{/login}" class="w3-hover-none w3-hover-text-grey w3-padding-large"><i class="fa fa-sign-in w3-large"></i> Увійти</a></li>
        <li class="w3-right"><a href="login.html" th:href="@{/logout}" class="w3-hover-none w3-hover-text-grey w3-padding-large"><i class="fa fa-sign-out w3-large"></i> Вийти</a></li>
    </ul>

    <!-- w3-content defines a container for fixed size centered content,
    and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1400px">

        <!-- Header -->
        <div class="w3-container w3-center w3-padding-32">
            <h1><b>iTraWell</b></h1>
            <p>Вітаємо у блозі <span class="w3-tag">Юлії Полєтаєвої</span></p>
        </div>

        <!-- Grid -->
        <div class="w3-row">

             <!-- New blog entry -->
             <div class="w3-col l8 s12">        
                <div class="w3-card-4 w3-margin w3-white">
                    <div class="w3-container w3-padding-16">
                        <form th:action="@{/post/new}" method="POST" enctype="multipart/form-data">
                            <div class="w3-row w3-container w3-padding-0">
                                <div class="w3-twothird">
                                    <p>
                                    <label><b>Заголовок:</b></label>
                                    <input class="w3-input w3-border w3-animate-input w3-hover-light-grey" style="width:50%" type="text" name="title" placeholder="One upon a time..." required="required" />
                                    </p>
                                    <p>
                                    <label><b>Головне фото:</b></label>                                    
                                    <input id="file" type="file" name="image" class="inputfile w3-input w3-border w3-animate-input" style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" />
                                    <label id="fileLabel" for="file" style="width: 50%; color: grey; border: 1px solid #ccc; display: block; padding: 8px 6px; cursor: pointer;" class="w3-btn w3-border w3-white w3-center w3-hover-black">&raquo; К л і к &laquo;</label>
                                    </p>
                                    <p>
                                    <label><b>Підпис до фото:</b></label>
                                    <input class="w3-input w3-border w3-animate-input w3-hover-light-grey" style="width:50%" type="text" name="label" placeholder="На фото, а бімба!" />
                                    </p>
                                </div>
                                <div class="w3-third">
                                    <p>
                                    <label><b>Країна:</b></label>
                                    <input class="w3-input w3-border w3-animate-input w3-hover-light-grey" style="width:50%" type="text" name="country" placeholder="USA" />
                                    </p>
                                    <p>
                                    <label><b>Регіон:</b></label>
                                    <input class="w3-input w3-border w3-animate-input w3-hover-light-grey" style="width:50%" type="text" name="region" placeholder="East Coast" />
                                    </p>
                                    <p>
                                    <label><b>Місто:</b></label>
                                    <input class="w3-input w3-border w3-animate-input w3-hover-light-grey" style="width:50%" type="text" name="city" placeholder="New York" />
                                    </p>
                                </div>
                            </div>
                            
                            <div class="w3-row w3-section">
                                <div>
                                    <label><b>Опис:</b></label>
                                    <textarea name="content" class="w3-input w3-border w3-hover-light-grey" rows="8" maxlength="4000" wrap="hard" placeholder="Розкажи про подорож і враження... Не більше 20'000 символів." required="required"></textarea>
                                </div>
                            </div>
                            <div class="w3-row">
                                <div class="w3-col m8 s12">
                                    <p><input type="submit" value="ДОБАВИТИ" class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black" /></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
           </div>

            <div class="w3-col l4 w3-hide-medium w3-hide-small">
            <!-- Labels / tags -->
                <div class="w3-card-2 w3-margin">
                <div class="w3-container w3-padding">
                    <h4>Теги</h4>
                </div>
                    <div class="w3-container w3-white">
                    <p>
                        <span class="w3-tag w3-black w3-margin-bottom">Travel</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
                    </p>
                    </div>
                </div>
            </div>

        <!-- END GRID -->
        </div><br />

    <!-- END w3-content -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
        <button class="w3-btn w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
        <button class="w3-btn w3-padding-large w3-margin-bottom">Next »</button>
        <p class="w3-center">Yulia Poletaeva &copy; 2017</p>
    </footer>
    <script>
        var inputs = document.querySelectorAll('.inputfile');
        
        Array.prototype.forEach.call(inputs, function(input) {
            var label = input.nextElementSibling;
            var labelVal = label.innerHTML;

            input.addEventListener('change', function(e) {
                var fileName = '';
                fileName = e.target.value.split('\\').pop();

                if (fileName)
                    label.innerHTML = fileName;
                else
                    label.innerHTML = labelVal;
            });
        });
    </script>
</body>
</html>
